
@use "foundation/index" as *;

/* ---------------- header -------------------- */

.header {
    @extend %font-en;
    color: $color-text;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: (32/1440)*100% (80/1440)*100%;

    @include mq('sp') {
        height: 8rem;
        position: fixed;
        inset: 0;
        z-index: 50;
    }
}
.header__logo {
    width: 20rem;
}
.header__nav {
    
    @include mq('sp') {
      display: none;
    }
}
.header__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header__item {
    font-size: clamp(1.6rem,(24/1440)*100vw,2.4rem);
    margin-left: (40/1440)*100vw;
}
