@use 'foundation/index' as *;

/* ---------------- header -------------------- */

.menu {
    margin-top: (160/1440) * 100%;

    @include mq('sp') {
        margin: (80/375) * 100% auto 0;
        padding: 0 (20/375) * 100%;
    }
}
.menu__inner {
    margin: 0 auto;
    width: (1040/1440) * 100vw;

    @include mq('sp') {
        width: 100%;
    }
}
.menu__content {
    align-items: start;
    display: flex;
    justify-content: space-between;
    margin-top: (64/1440) * 100%;

    @include mq('sp') {
        display: block;
        margin-top: (56/375) * 100%;
    }
}
.menu__left,
.menu__right {
    width: (480/1440) * 100vw;

    @include mq('sp') {
        width: 100%;
    }
}
.menu__right {
    margin-left: (80/1440) * 100%;

    @include mq('sp') {
        margin-left: auto;
        margin-top: (40/335) * 100%;
    }
}
.menu__list {
    @include mq('sp') {
        margin: 0 auto;
        max-width: 45rem;
    }
}
.menu__item {
    @extend %font-en;
    color: $color-accent;
    font-size: clamp(2.4rem, (32/1440) * 100vw, 3.2rem);
    line-height: 1;

    @include mq('sp') {
        font-size: clamp(2.4rem, (24/375) * 100vw, 3.2rem);
    }

    &:not(:nth-child(1)) {
        margin-top: (60/480) * 100%;

        @include mq('sp') {
            margin-top: (40/335) * 100%;
        }
    }
}
.menu__dataList {
    color: $color-text;
    font-family: $font-ja;
    font-style: normal;
    font-size: clamp(1.2rem, (20/1440) * 100vw, 2rem);
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 2;

    @include mq('sp') {
        font-size: clamp(1.4rem, (14/375) * 100vw, 2rem);
    }

    &:nth-of-type(1) {
        margin-top: (20/480) * 100%;

        @include mq('sp') {
            margin-top: (20/335) * 100%;
        }
    }
}
.menu__dataTitle {
}
.menu__dataDescription {
}

.menu__pay {
    margin: (40/1440) * 100% 0 0 auto;
    width: (348/1440) * 100vw;

    @include mq('sp') {
        margin: (56/335) * 100% auto 0;
        width: 100%;
    }
}
.menu__info {
    font-size: clamp(1.4rem, (20/1440) * 100vw, 1.6rem);
    text-align: center;
}
.menu__cardList {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: (20/350) * 100% auto 0;

    @include mq('sp') {
        justify-content: space-around;
        max-width: 40rem;
        margin: (20/335) * 100% auto 0;
    }
}
.menu__cardIcon {
    width: (72/1440) * 100vw;

    &:not(:nth-child(1)) {
        margin-left: (20/1440) * 100%;
    }

    @include mq('sp') {
        max-width: 7.2rem;
        width: (64/375) * 100vw;
    }
}

.menu__component {
    margin-top: (80/1440) * 100%;

    @include mq('sp') {
        margin-top: (56/335) * 100%;
    }
}
.menu__component--content {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: (64/1440) * 100%;

    @include mq('sp') {
        display: block;
        margin-top: (40/335) * 100%;
    }
}
.menu__component--img,
.menu__component--description {
    width: (450/1440) * 100vw;

    @include mq('sp') {
        width: 100%;
    }
}
.menu__component--img {
    @include mq('sp') {
        margin-top: (40/335) * 100%;
    }
}
.menu__component--description {
    font-size: clamp(1.4rem, (20/1440) * 100vw, 2rem);
    margin-left: (80/1440) * 100%;

    @include mq('sp') {
        margin: (40/335) * 100% auto 0;
    }
}
